{% extends "base.html" %}

{% block content %}
		<h1>Publications index</h1>
		<p>{{ publications.count() }} publications</p>
		<table border="1">
			<thead>
				<tr>
					<th>Title</th>
					<th>Year</th>
				</tr>
			</thead>
			<tbody>
				{% for publication in publications %}
				<tr>
					<td><a href="{{ url_for('publication', publication_id=publication.id) }}">{{ publication.title }}</a></td>
					<td>{{ publication.year }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
{% endblock %}
