/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";

@import "variables";
@import "bootstrap";

html {
	font-family: Lucida Grande;
}

body {
	padding: 20px;
}

.table tr:last-child {
	> td, > th {
		border-bottom: 1px solid #dddddd;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: Helvetica;
}

h1 {
	margin: 3.5rem 0;
}

h2 {
	margin-top: 3.5rem;
	font-size: 2.7rem;
}

.navbar .navbar-brand {
	color: #583600;
	padding-left: 55px;
	background: url('../images/logo-32.png') no-repeat 15px 50%;
}

.paginator {
	text-align: center;
	display: block;
	margin-bottom: 20px;

	.pagination {
		margin-bottom: 0;
	}

	p {
		margin: 4px 0 0 0;
		text-align: center;
		color: #888;
		font-size: 1.3rem;
	}
}

.pagination {
/*	width: 100%;
	text-align: center;
	font-size: 0;

	a, span {
		font-size: 1.4rem;
		display: inline-block;
	}

	> li > a,
	> li > span {
		float: none;
	}*/

	.ellipsis span {
		border-top: 0;
		border-bottom: 0;
		color: #999;
	}

	li:first-child a,
	li:first-child span {
		margin-right: 1em;
		//float: left;
		@include border-radius($border-radius-base);
	}
	
	li:last-child a,
	li:last-child span {
		margin-left: 1em;
		//float: right;
		@include border-radius($border-radius-base);
	}

	li:nth-child(2) a {
		@include border-left-radius($border-radius-base);
	}
	li:nth-last-child(2) a {
		@include border-right-radius($border-radius-base);
	}
}


#institution-meta table th {
	width: 200px;
	background: #f9f9f9;
	text-align: right;
	padding-right: 10px;

	& + td {
		padding-left: 10px;
	}
}

#authors .corresponding {
	th, td {
		background-color: #ffffbb;
	}
}


/*h1 {
	font-size: 30px;
	margin: 20px 0 10px 0;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	font-family: Helvetica;
	margin: 20px 0 10px 0;
}*/

/*.highlighttable {
	font-family: Menlo;
	font-size: 13px;
	line-height: 1.5em;
	border-collapse: separate;
	position: relative;
	@include border-radius($border-radius-base);

	pre {
		border: 0;
		padding: 0;
		margin: 0;
		background: 0;
		white-space: pre;
	}

	.linenos {
		background: #eee;
		border-right: 1px solid #bbb;
		width: 50px;
		text-align: right;
		padding: 15px 10px;
		@include border-left-radius($border-radius-base);
		
		a {
			color: #777;
			text-decoration: none;
			position: relative;
			z-index: 100;
		}
	}
	
	.code {
		background: whitesmoke;
		padding: 15px 10px;
		border-left: 1px solid #fff;
		@include border-right-radius($border-radius-base);
	}

	.code .highlight {
		width: 800px;
		overflow: hidden;
	}

	.code pre {
		word-wrap: normal;
		overflow: scroll;

		* {
			position: relative;
			z-index: 100;
		}
	}

	.code a:target {
		position: absolute;
		left: 0px;
		right: 0px;
		height: 1.7em;
		background: rgba(yellow, 0.5);
		border-top: 1px solid #ffea00;
		border-bottom: 1px solid #ffea00;
		z-index: 90;
		margin-top: -0.15em;
	}

	.code pre a[href] {
		background: rgba(yellow, 0.8);
		padding: 2px 7px;
		margin: -2px -7px;
		display: inline-block;
		@include border-radius($border-radius-base);
	}
}*/
