<!doctype html>
<html>
	<head>
		<title>IRCO</title>
	</head>
	<body>
	{% block body %}
		<header>
			<h1>IRCO Explorer</h1>
			<nav>
				<ul>
					<li><a href="{{ url_for('index') }}">Index</a></li>
					<li><a href="{{ url_for('authors') }}">Authors</a></li>
					<li><a href="{{ url_for('institutions') }}">Institutions</a></li>
					<li><a href="{{ url_for('publications') }}">Publications</a></li>
				</ul>
			</nav>
		</header>

		{% block content %}{% endblock %}
	{% endblock %}
	</body>
</html>

